.aboutImg{
  height: 20rem;
  width: auto;
  box-shadow: rgb(12, 12, 12) -10px 10px, rgba(133, 133, 133, 0.603) -20px 20px, rgba(82, 82, 82, 0.516) -25px 25px, rgba(124, 124, 124, 0.55) -30px 30px, rgba(0, 0, 0, 0.05) -35px 35px;
 border-radius: 25% 75% 1% 0% / 0% 75% 25% 25%;
}
.aboutSocialText{
  color: whitesmoke;
}
.aboutHeading{
  font-size: 3rem;
  color: white;
  border-bottom: 1px solid white;
}
.aboutContent{
  display: flex;
  padding-top: 3rem;
}
.aboutContentText{
  padding-left: 2rem;
  text-align: justify;
  color: white;
}
.aboutContenttextpoints{
     display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 0;
    gap: 1rem;
}

@media (max-width: 768px) {
  .aboutHeading{
  font-size: 2.5rem;
  padding-top: 3rem;
  color: white;
  border-bottom: 1px solid white;
}
  .aboutImg{
  height: 20rem;
  width: 20rem;
  box-shadow: rgb(12, 12, 12) -10px 10px, rgba(133, 133, 133, 0.603) -20px 20px, rgba(82, 82, 82, 0.516) -25px 25px, rgba(124, 124, 124, 0.55) -30px 30px, rgba(0, 0, 0, 0.05) -35px 35px;
margin-left: 3.5rem;
 border-radius: 25% 75% 1% 0% / 0% 75% 25% 25%;
}
  .aboutContent{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.aboutContentText{
  font-size: 1.2rem;
  padding-top: 3rem;
  padding-left: 0rem;
  text-align: justify;
  color: white;
}
.aboutContenttextpoints{
     display: flex;
     flex-direction: column;
   
}
}

